<h1>T3 Index</h1>

<% if can? :create, Game %>
<h4><%= link_to 'New Game', new_game_path %></h4>
<% end %>

<table>
  <tr>
    <th>Game</th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.id %></td>
    <td><%= link_to 'Show', game %></td>
    <% if can? :create, Game %>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
  
</table>
  <br>