<p id="notice"><%= notice %></p>

<%= form_for(@game) do |f| %>

  <table>
    <tr>
      <td>
        <% if @game.board[0] == " " %>
          <%= f.submit " " %>
        <% else %>
          <%= @game.board[0]%>
        <% end %>
      </td>
      <td>
        <% if @game.board[1] == " " %>
          <%= f.submit " " %>
        <% else %>
          <%= @game.board[1]%>
        <% end %>
      </td>
      <td>
        <% if @game.board[2] == " " %>
          <%= f.submit " " %>
        <% else %>
          <%= @game.board[2]%>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <% if @game.board[3] == " " %>
          <%= f.submit " " %>
        <% else %>
          <%= @game.board[3]%>
        <% end %>
      </td>
      <td>
        <% if @game.board[4] == " " %>
          <%= f.submit " " %>
        <% else %>
          <%= @game.board[4]%>
        <% end %>
      </td>
      <td>
        <% if @game.board[5] == " " %>
          <%= f.submit " " %>
        <% else %>
          <%= @game.board[5]%>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <% if @game.board[6] == " " %>
          <%= f.submit " " %>
        <% else %>
          <%= @game.board[6]%>
        <% end %>
      </td>
      <td>
        <% if @game.board[7] == " " %>
          <%= f.submit " " %>
        <% else %>
          <%= @game.board[7]%>
        <% end %>
      </td>
      <td>
        <% if @game.board[8] == " " %>
          <%= f.submit " " %>
        <% else %>
          <%= @game.board[8]%>
        <% end %>
      </td>
    </tr>
  </table>

<% end %>

<br>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
