<h1>New game</h1>

  <table>
    <tr>
      <td><%= @board[0] %></td>
      <td><%= @board[1] %></td>
      <td><%= @board[2] %></td>
    </tr>
    <tr>
      <td><%= @board[3] %></td>
      <td><%= @board[4] %></td>
      <td><%= @board[5] %></td>
    </tr>
    <tr>
      <td><%= @board[6] %></td>
      <td><%= @board[7] %></td>
      <td><%= @board[8] %></td>
    </tr>
  </table>


<%= link_to 'Back', games_path %>
